/* .shark{
    position: absolute;
    margin: auto;
    text-align: center;
    padding: 5px 40px;
    left: 40%;
    top: 4%;
} */


.mars{
    justify-content: center;
    height: 830px;
    background-color: rgb(162, 78, 241);
    text-align: center;
    padding-top: 12px;
}

.eleven{
    margin-left: 78%;
    margin-top: 1%;
    font-size: 20px;
}

.sixteen{
    margin-top: 0%;
    font-size: 40px;
}

.seventeen{
    margin-top: -1%;
    font-size: 30px;
}

.eighteen{
    font-size: 1.3rem;
    margin-left: 6%;
}

.stars{
    margin-right: auto;
}

.twenty{
    width: 16%;
    font-size: 1rem;
    padding: 6px 4px;
    border-radius: 5px;
    margin-left: 1%;
}

.pocket{
    display: flexbox;
    width: 10%;
    font-size: 1.2rem;
    margin: 8px 0;
    padding: 4px 0;
    background-color: rgb(230, 238, 119);
    color: rgb(228, 57, 57);
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10%;
}

.file{
    display: flexbox;
    width: 10%;
    font-size: 1.2rem;
    margin: 8px 0;
    padding: 4px 0;
    background-color: rgb(230, 238, 119);
    color: rgb(228, 57, 57);
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 4%;
}




