.earth{
    justify-content: center;
    height: 550px;
    background-color: rgb(162, 78, 241);
    text-align: center;
    padding-top: 12px;
}

.six{
    margin-left: 78%;
    margin-top: 1%;
    font-size: 20px;
}

.seven{
    font-size: 35px;
}

.moon{
    width: 16%;
    font-size: 1rem;
    padding: 6px 4px;
    border-radius: 5px;
    margin-left: 1%;
}