.reg{
    font-size: 26px;
    color: rgb(49, 53, 247);
}
.yog{
    font-size: 23px;
}
.man{
    font-size: 20px;
}
.nuts{
    font-size: 18px;
}
.nut{
    font-size: 20px;
}
.yogi{
    font-size: 23px;
}
.mani{
    text-align: center;
    background-color: rgb(13, 231, 86);
    width: 500px;
    border-radius: 35px;
    border: 6px solid rgb(218, 39, 39);
    position: absolute;
    margin: auto;
    padding: -1px 40px;
    left: 31%;
    top: 5%;
}