.venus{
    justify-content: center;
    height: 680px;
    background-color: rgb(162, 78, 241);
    text-align: center;
    padding-top: 12px;
}

.mani{
    position: absolute;
    box-shadow: 0 20px 25px rgb(43, 13, 39);
    margin: auto;
    width: 350px;
    text-align: center;
    background-color: white;
    height: 550px;
    border-radius: 30px;
    border: 6px solid rgb(43, 1, 21);
    padding: 7px 40px;
    left: 36%;
    top: 17%;
}

.enter{
    display: flexbox;
    width: 105%;
    font-size: 1.5rem;
    margin: 8px 0;
    padding: 5px 0;
    background-color: rgb(79, 241, 241);
    color: red;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.btn{
    display: flexbox;
    width: 30%;
    font-size: 1.2rem;
    margin: 8px 0;
    padding: 4px 0;
    background-color: rgb(230, 33, 33);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 90%;
}

.stick{
    width: 100%;
    font-size: 1rem;
    padding: 8px 4px;
    margin: 8px 0;
    border-radius: 8px;
}

.cotton{
    font-size: 1.2rem;
    margin-right: 90%;
}

.light{
    margin-left: 99%;
}


