table{
    border-collapse: collapse;
    width: 38%;
    margin: 45px auto;
}

table, th, td{
    border: 2px solid black;
    padding: 5px;
}

th{
    font-size: 15px;
    font-weight: 800;
    color: black;
}

td{
    font-size: 19px;
    font-weight: 400;
    color: black;
}
